@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
  font-family: 'Ubuntu Condensed';
  padding: 1rem 2.5rem;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  box-sizing: border-box;
}